body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,dt {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 font-size: 12px;
	 font-family: 宋体;
	 color: #666666;
}

a {
	 text-decoration: none;
	 color: #666666;
}

input img {
	 vertical-align: middle;
	 border: 0 none;
	 outline-style: none;
	 padding: 0;
	 margin: 0;
}

/*清除浮动*/
.clearfix:after {
	 content: "";
	 height: 0;
	 line-height: 0;
	 display: block;
	 clear: both;
	 visibility: hidden;
}

.clearfix {
	 zoom: 1;
}

.w {
	 width: 980px;
	 margin: 0 auto;
}
